

/* --- Promo --- */

.testimonials {
	padding-bottom: 15px;
	h2 {margin-bottom: 0;}
	blockquote {
		border:none;
		margin-bottom: 5px;
		padding: 15px 13%;
	}
	blockquote, .client-name {font-family: Georgia, Times, "Times New Roman", serif;}
	.client-name {font-weight: bold;}
}
