@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
@{
	var randQuote = Umbraco.Content(1197).Children.Random();
	<div class="quote-block">
		<div class="header">My Truth Is</div>
		<div class="quote">@randQuote.myTruth</div>
	</div>
	<div class="quote-block">
		<div class="header">My Hope Is</div>
		<div class="quote">@randQuote.myHope</div>
	</div>
	<div class="resident">@randQuote.quoteBy</div>
}