/* --- Form Styles --- */

form {max-width: 600px;}
.form-group {margin-bottom: 30px;}
label {
	color: $global-blue;
	font-size: 18px;
}
input {
	padding: 20px 10px;
	border-radius: 10px;
	@media (min-width: $break-lg-phone) {padding: 25px 10px;}
}
textarea {
	min-height: 150px;
	border-radius: 10px;
}

/* --- Contact Form --- */

.contact-form {
	form {max-width: 600px;}
	.form-group {margin-bottom: 30px;}
}